/* Formatação do plano de fundo */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overscroll-behavior: contain;       /* Bloquear push-to-refresh (Android)*/
    touch-action: none;                 /* Bloquear push-to-refresh (iOS)*/
    background-color: #1037c1;
}

/* Efeito de clique nos botões "Loja" e "Blog"*/
#loja:active {
    transform:scale(0.95);
}

#blog:active {
    transform:scale(0.95);
}

/* Configurações de Responsividade */

/* Monitores HD */
@media (min-width: 1000px) and (max-width: 1600px) {
    .botoes {
        margin: 0 auto;
        padding-left: 20px;
        padding-top: 10px;
        width: 500px;
        display: flex;
    }

    #eletrogateRobot {
        width: 35%;
        margin: auto;
        text-align: center;
        padding: 35px 0 0 0;
        height: 85px;
        box-sizing: border-box;
    }

    #javascript {
        margin: 0 auto;
        margin-top: 15px;
        width: 100%;
        text-align: center;
        background-image: url('logoFundo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }    
}

/* Monitores Full HD */
@media (min-width: 1600px) {    
    #eletrogateRobot {
        width: 35%;
        margin: auto;
        text-align: center;
        padding: 35px 0 0 0;
        height: 85px;
        box-sizing: border-box;
    }

    #javascript {
        margin: 0 auto;
        margin-top: 50px;
        width: 100%;
        text-align: center;
        background-image: url('logoFundo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .botoes {
        margin: 0 auto;
        padding-left: 20px;
        padding-top: 30px;
        max-width: 700px;
        display: flex;
    }
}

/* Smartphones */
@media (max-width: 1000px){
    #eletrogateRobot {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 25px 0 0 0;
        height: 85px;
        box-sizing: border-box;
    }

    #javascript {
        margin: 0 auto;
        margin-top: 5px;
        width: 100%;
        text-align: center;
        background-image: url('logoFundo.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    
    .botoes {
        width: 85%;
        padding-top: 5px;
        margin: 0 auto;
        
        
    }
}

